.content {
    height: 100vh;
    overflow-y: scroll;
}

#skills {
   background-color: #393e42;
}

#work {
    background-image: url("/assets/stylesheets/images/work-photo.jpg")
}

#blog {
    background-color: #383736;
}

#contact {
    background-color: #393e42;
}
