<div class="container">
  <div class="row">
    <div class="col header d-flex justify-content-center">
      <h1>SKILLS</h1>
    </div>
  </div>
  <div class="row skill-list">
    <div class="col">
      <div class="row d-flex justify-content-center">
        <img src="../assets/stylesheets/images/brush.png" alt="design">
      </div>
      <div class="row skill-head d-flex justify-content-center">
        <b>DESIGN</b>
      </div>
      <div class="row skill-text d-flex justify-content-center">
        <span>ps - ai</span>
      </div>
    </div>
    <div class="col">
      <div class="row d-flex justify-content-center">
        <img src="../assets/stylesheets/images/knife.png" alt="frontend">
      </div>
      <div class="row skill-head d-flex justify-content-center">
        <b>FRONTEND</b>
      </div>
      <div class="row skill-text d-flex justify-content-center">
        <span>html5 - css3 - js</span>
      </div>
    </div>
    <div class="col">
      <div class="row d-flex justify-content-center">
        <img src="../assets/stylesheets/images/nippers.png" alt="backend">
      </div>
      <div class="row skill-head d-flex justify-content-center">
        <b>BACKEND</b>
      </div>
      <div class="row skill-text d-flex justify-content-center">
        <span>wordpress drupal</span>
      </div>
    </div>
    <div class="col">
      <div class="row d-flex justify-content-center">
        <img src="../assets/stylesheets/images/disc.png" alt="app">
      </div>
      <div class="row skill-head d-flex justify-content-center">
        <b>APP</b>
      </div>
      <div class="row skill-text d-flex justify-content-center">
        <span>ios android</span>
      </div>
    </div>
  </div>
  <div class="row quick-works">
    <div class="col d-flex justify-content-center">
      <span>Quick Works of Happy </span>
      <a href="javascript:;">Clients</a>
    </div>
  </div>
</div>
