@import '../../../assets/stylesheets/partials/mixins';
@import './src/styles.scss';

.container {
    position: relative;
    max-width: 100%;
    margin: 0;

    .header {
        height: 330px;
        width: 100%;
        img {
            width: 100%;
            height: 100%;
        }
    }

    .profile-content {
        position: relative;
        .profile-photo {
            border: 8px solid white;
            position: absolute;
            height: 200px;
            width: 200px;
            @include round-borders(100px);
            top: -100px;
            left: 200px;
            overflow: hidden;
            img {
                display: block;
                width: 100%;
                height: 100%;
            }
        }
    }

    .nav {
        padding: 150px 20px 0px 0px;
        .nav-item {
            font-weight: 200;
            position: relative;
            height: 60px;
            color: #393e42;
            .circle {
                cursor: pointer;
                width: 16px;
                height: 16px;
                background-color: white;
                color: #fff;
                border: 4px solid black;
                border-radius: 50%;
                position: absolute;
                top: 12px;
                left: -21px;
            }
            .nav-link {
                color: black;
            }
            .active {
                font-weight: 700;
                .circle {
                    background-color: black;
                }
            }
            .line {
                position: absolute;
                top: 27px;
                left: -14px;
                border: 1px solid black;
                height: 50px;
                width: 2px;
            }
        }
    }

    .description {
        color: #393e42;
        padding: 100px 100px 0px 0px;
        font-weight: 100;
        h1 {
            font-weight: 200;
            b {
                font-weight: 700;
            }
        }
    }

    .title-content {
        position: relative;
        color: white;
        font-weight: 300;
        font-size: 20px;

        .title {
            position: absolute;
            bottom: 3px;
        }

        span:nth-child(2) {
            font-size: 15px;
        }
    }

    .social-media {
        padding-left: 0px;
        div {
            padding-top: 50px;
            img {
                height: 38px;
            }
        }
    }

    .signature {
        div {
            padding-top: 20px;
            img {
                height: 100px;
            }
        }
    }

    .foot {
        padding-top: 40px;
        div {
            background-color: #6f777d;
            height: 90px;
            color: white;
            .quote {
                font-size: 21px;
                padding-top: 21px;
                text-align: center;
                margin: 0;
            }
            .author {
                text-align: right;
                padding-right: 284px
            }
        }
    }

}

@media (max-width: $screen-xs-max) {
    .profile-photo {
        top: -240px !important;
        left: 90px !important;
    }

    .title {
        top: 0px !important;
        bottom: 3px !important;
    }

    .main-content {
        padding: 30px;
    }

    .title-content {
        color: #393e42 !important;
    }

    .main-content {
        .description {
            padding: 0px 10px 0px 0px !important;
        }
    }

    .nav {
        padding: 0px !important;
    }

    .circle {
        display: none;
    }

    .line {
        display: none;
    }
}

@media (max-width: $screen-sm) {
    .title {
        color: #393e42 !important;
        top: 100px;
        bottom: 0px !important;
    }

    .description {
        padding: 133px 100px 0px 0px !important;
    }
}



