<div class="container">
  <div class="row">
    <div class="col header d-flex justify-content-center">
      <h1>CONTACT</h1>
    </div>
  </div>
  <div class="row">
    <div class="col form-content">
      <div class="form-group">
        <p for="comment">to</p>
        <p for="comment">dilara.gzbyk19@gmail.com</p>
        <textarea class="form-control" rows="4" id="mail"></textarea>
        <p class="send-button">Send</p>
      </div>
    </div>
    <div class="col map d-flex justify-content-center">
      <img src="../assets/stylesheets/images/map.png" alt="map">
    </div>
  </div>
</div>
