<div class="container">
  <div class="row">
    <div class="col header d-flex justify-content-center">
      <h1>WORK</h1>
    </div>
  </div>
  <div class="row">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active">
            <div class="line"></div>
        </li>
        <li data-target="#myCarousel" data-slide-to="1">
            <div class="line"></div>
        </li>
        <li data-target="#myCarousel" data-slide-to="2">
        </li>
      </ol>
      <div class="carousel-inner container">
        <div class="carousel-item active row">
          <div class="col" *ngFor="let work of workListPart1">
            <img src="../assets/stylesheets/images/{{work}}" alt="work">
          </div>
        </div>
        <div class="carousel-item row">
          <div class="col" *ngFor="let work of workListPart2">
            <img src="../assets/stylesheets/images/{{work}}" alt="work">
          </div>
        </div>
        <div class="carousel-item row">
          <div class="col" *ngFor="let work of workListPart3">
            <img src="../assets/stylesheets/images/{{work}}" alt="work">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
